body {
    background-color: #000000;
}

video#rockdots {
    max-width: 100%;
}

.pics {
    text-align: center;
}

.mossmann {
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        overflow: hidden;
        box-shadow: 0 0 4px #838383;
        background-size: cover!important;
}
